* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #1d1a1c;
}

/* Scrollbar Functionality*/
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #f4bbc4, #e76a98);
  /* Pink typish gradient */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fb4c8c;
  /* Pink color for the thumb */
  border-radius: 12px;
  /* Rounded corners for the thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fa277b;
  /* Lighter pink on hover */
}

/* NAVBAR */
.navbar {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0%;
  height: 7vh;
  min-height: 40px;
  padding: 2px 20px;
  background-color: rgb(255, 228, 201);
  box-shadow: 0px 2px 2px 0 rgba(134, 132, 132, 0.395);
}

/* LIST OF NAV */
.navlist {
  display: flex;
  list-style: none;
  align-items: center;
}

.navlistitem a {
  padding: 10px;
  margin: 0 10px 0 10px;
  border-radius: 3px;
  color: black;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: 0.3s;
  text-decoration: none;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  display: flex;
  align-items: center;
}
.navlistitem a img {
  width: 16px;
  margin-right: 3px;
}
.navicons {
  transition: 0.3s;
}

.navlistitem a:hover {
  border-radius: 5px;
  font-size: 26px;
  img {
    width: 24px;
  }
}
