.page4head {
  width: 91%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 1.5s;
  margin: 80px auto 0px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 1px solid #ccc;
  transition: 1.5s;
  animation: rgb 10s alternate infinite;
}

.page4head p {
  padding: 6px 0 15px 0;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1.1px;
  color: #fff6e9;
  font-size: 40px;
}

.page4 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.5s;
  width: 90%;
}
.contact-left {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(225, 197, 170);
  gap: 30px;
}

.contact-right {
  width: 100%;
  height: 40vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* background: #fff6e9; */
  gap: 20px;
  color: white;
}
.input-gr {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: rgb(225, 197, 170);
}
.input input,
textarea {
  border-radius: 5px;
  height: 30px;
  width: 300px;
  border: rgba(181, 160, 77, 0.695) 4px solid;
  background: rgb(215, 211, 158);
}
#contact-message {
  height: 130px;
}
.contact-names {
  font-weight: bold;
}
/* From Uiverse.io by lenfear23 */
form .send {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  height: 100%;
  background: rgb(215, 211, 158);
  border-radius: 5px;
  border: rgba(181, 160, 77, 0.695) 4px solid;
  transition: all 0.2s ease;
  /* font-family: "Source Sans Pro", sans-serif; */
  font-size: 18px;
  font-weight: 600;
  color: #1b1919;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

form .send:active {
  box-shadow: 0 2px 2px 1px #fcfcfc, 0 6px 2px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -2px 2px #fefefe, inset 0 0 2px 2px #999, inset 0 0 2px #aaa;
}
